body {
    padding: 0;
    margin: 0;
    background: #fafafa;
    color: #fafafa;
    font-size: 1em;
    font-family: "Open Sans", serif;
}

h1 {
    background-color: #00838F;
    text-align: center;
    padding: 1em 0;
    margin: 0 0 1em;
}

ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0 2em;
    list-style: none;
}

li {
    background: #00838F;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 0.5em solid transparent;
    display: inline-block;
    flex: 1 0 20%;
    height: auto;
    padding: 1em;
    position: relative;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.back {
    background: #00838F;
    color: inherit;
    display: block;
    margin: 2em auto;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    width: 4em;
}